<div class="wrapper mdl-cell--12-col">
  <div class="container">

    <h4>User Form</h4>
    <hr>
    <p>User Knex PostgreSQL Crud Example</p><br/>

    <form [formGroup]="form"
          class="mdl-typography--text-center">

      <p>
        <mdl-textfield  type="text"
                        label="First Name"
                        formControlName="firstName"
                        floating-label
                        disableNativeValidityChecking
                        [class.is-invalid]="firstName.touched && firstName.invalid"
                        [error-msg]="firstName.getError('invalidPattern') || firstName.getError('requiredField')"
                        (blur)="checkFieldValueValidity('firstName', firstName)">
        </mdl-textfield>
      </p>

      <p>
        <mdl-textfield  type="text"
                        label="Last Name"
                        formControlName="lastName"
                        floating-label
                        disableNativeValidityChecking
                        [class.is-invalid]="lastName.touched && lastName.invalid"
                        [error-msg]="lastName.getError('invalidPattern') || lastName.getError('requiredField')"
                        (blur)="checkFieldValueValidity('lastName', lastName)">
        </mdl-textfield>
      </p>

      <p>
        <mdl-textfield  type="text"
                        label="Email Address"
                        formControlName="emailAddress"
                        floating-label
                        disableNativeValidityChecking
                        [class.is-invalid]="emailAddress.touched && emailAddress.invalid"
                        [error-msg]="emailAddress.getError('notUnique')
                        || emailAddress.getError('invalidPattern')
                        || emailAddress.getError('requiredField')"
                        (blur)="checkFieldValueValidity('emailAddress', emailAddress, true)">
        </mdl-textfield>
      </p>

      <p>
        <mdl-select label="Gender"
                    formControlName="gender">
          <mdl-option *ngFor="let g of genderSelection"
                      [value]="Gender[g]">{{ g }}</mdl-option>
        </mdl-select>
      </p>

      <p>
        <mdl-textfield  type="text"
                        label="Age"
                        formControlName="age"
                        floating-label
                        disableNativeValidityChecking
                        [class.is-invalid]="age.touched && age.invalid"
                        [error-msg]="age.getError('invalidPattern') || age.getError('requiredField')"
                        (blur)="checkFieldValueValidity('age', age)">
        </mdl-textfield>
      </p><br/>

      <p class="mdl-typography--text-left">
        <span>Birthday</span>
        <mdl-textfield  type="date"
                        id="birthday"
                        formControlName="birthday"
                        disableNativeValidityChecking
                        [class.is-invalid]="birthday.touched && birthday.invalid">
        </mdl-textfield>
      </p><br/>

      <div class="mdl-typography--text-center">
        <button class="text-light-red"
                mdl-button
                mdl-ripple
                [routerLink]="['../']">CANCEL</button>&nbsp;

        <button class="text-light-red"
                mdl-button
                mdl-ripple
                [disabled]="!form.valid || !form.dirty"
                (click)="save(form.value)">
          <span *ngIf="!userId">SAVE</span>
          <span *ngIf="userId">UPDATE</span>
        </button>
      </div><br/><!--END .mdl-typography--text-center -->

      <p  *ngIf="isSuccessful"
          class="mdl-typography--text-center"
          id="success-message">
        <mdl-icon>done</mdl-icon>
        Successfully Saved
      </p>

    </form>
  </div>
</div>
